@page
@model TGL.WebApp.Pages.Students.IndexModel
@addTagHelper *, Microsoft.AspNerCore.Mvc.TagHelpers
@{
}

    <h1>Students</h1>

    <form method="post">
        <table class="highlight">
            <thead >
                <tr class="card-panel teal lighten-1">
                    <!--th>Id</!--th>-->
                    <th>Nit</th>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Edit</th>
                    <th>Delete</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                <tr>

                    <!--td>@item.Id</!--td>-->
                    <td>@item.Nit</td>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>

                    <td>
                        @foreach (var computer in item.Computers)
                        {
                            <ul>@computer.Brand - @computer.Model - @computer.Cpu - @computer.Ram </ul>
                        }
                    </td>


                    <td>
                        <a class="waves-effect waves-light btn"
                           asp-page="Edit"
                           asp-route-id="@item.Id">
                            Edit
                        </a>
                    </td>
                    <td>
                        <button class="waves-effect waves-light btn" type="submit"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id">
                            Delete
                        </button>

                    </td>
                    <td>

                        <a class="waves-effect waves-light btn"
                           asp-page="../Computers/Add" 
                           asp-route-studentid="@item.Id">
                            <i class="large material-icons">computer</i>
                        </a>
                    </td>


                </tr>
                }
            </tbody>
        </table>
    </form>
    <br />
    <a asp-page="Add" class="waves-effect waves-light btn">Create new student</a>
